parameters:
  level: 7
  paths:
    - lib
    - src
  excludePaths:
      analyse:
        - lib/classes
        - lib/functions
        - lib/interfaces
        - lib/mixins
        - src/Interfaces/WC_Data_Definition.php
  ignoreErrors:
    -
      identifier: method.childReturnType
      path: src/Core/XWC_Data.php

